.popupContainer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    display: block;
    background-color: rgba(135, 135, 135, 0.8);
    border-radius: 4px;
    padding: 0 20px;
    text-align: center;
}

.correctGuess {
    color:rgb(156, 210, 167);
}

.wrongGuess {
    color:rgb(198, 92, 92);
}

.img {
    height: 400px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(97, 97, 97, 0.4);
}

.btns {
    padding: 35px;
}

button {
    cursor: pointer;
    padding: 10px 28px;
    margin: 0 3px;
    border: 1px none;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(97, 97, 97, 0.4);
    transition: 1s;
}

.leftBtn, .rightBtn {
    background-color: rgba(104, 104, 104, 0.4);
}

.generateBtn {
    background-color: transparent;
    border: 1px solid rgba(104, 104, 104, 0.7);
}

.generateBtn:hover {
    border: 1px solid rgba(104, 104, 104, 0.4);
    transition-timing-function: ease-in ease-out;
    background: rgba(104, 104, 104, 0.4);
}

.leftBtn:hover {
    background-color: rgba(159, 103, 103, 0.4);
}

.rightBtn:hover {
    background-color: rgba(103, 116, 159, 0.4);
}

